.terminal, .nonterminal {
    margin-left: -1px;
    margin-right: 1px;
    padding-right: 1px;
    z-index: 10;
}

.terminal {
    font-family: Tahoma, Geneva, sans-serif;
    font-style: italic;
    font-weight: normal;
}

.nonterminal {
    font-family: Tahoma, Geneva, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.epsilon {
    font-family: Tahoma, Geneva, sans-serif;
    font-style: italic;
}

sub {
    font-size: small;
    vertical-align: -4px;
}


/* highlights */

span.hl-removed {
    color: rgb(206, 8, 8);
    text-decoration: line-through;
}

span.hl-attention {
    color: blue;
    text-decoration: underline;
}
td.hl-attention {
    background-color: #ADF;
}
span.hl-attention-old {
    color: darkblue;
    text-decoration: underline;
}
td.hl-attention {
    background-color: #BDE;
}

span.hl-special {
    text-shadow: 0 0 8px #222;
}

span.hl-new {
    color: rgb(69, 177, 64);
    text-decoration: underline;
}
span.hl-duplicate {
    color: rgb(62, 119, 60);
}
span.hl-replaced {
    color: rgb(163, 122, 61);
    text-decoration: underline;
}

/* ensure some word highlights override symbol highlights */

.word.hl-removed > span {
    color: rgb(206, 8, 8);
    text-decoration: line-through;
}

.math {
    display: inline;
}